hr.soften {
  height: 1px;
  margin: 34px 0;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  border: 0;
}

/* Google WebFonts */
.font-bree-serif{
  font-family: 'Bree Serif', serif;
  font-weight:400;
}
.font-open-sans-book,
.font-open-sans-book-italic,
.font-open-sans-normal,
.font-open-sans-normal-italic,
.font-open-sans-semi-bold,
.font-open-sans-semi-bold-italic,
.font-open-sans-bold,
.font-open-sans-bold-italic{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.font-open-sans-normal,
.font-open-sans-normal-italic{
  font-weight: 400;
}
.font-open-sans-semi-bold,
.font-open-sans-semi-bold-italic{
  font-weight: 600;
}
.font-open-sans-bold,
.font-open-sans-bold-italic{
  font-weight: 700;
}
.font-open-sans-book-italic,
.font-open-sans-normal-italic,
.font-open-sans-semi-bold-italic,
.font-open-sans-bold-italic{
  font-style: italic;
}
.sub-genre{
  display: none;
}

.sub-genre li a{
  border-left: 2px solid black;
  background: #fdfdfd !important;
}

.sub-genre li.active{
  border-left: 2px solid blue !important;
}

.active{
  display: block;
}
